*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(180deg, #000000 15%, #000000 100%);
}

div:before,
div:after {
  display: block;
  content: "";
  position: absolute;
}

div.beloved {
  width: 100vmin;
  height: 100vmin;
  left: -5vmin;
  margin: 0 auto;
  display: flex;
  z-index: -99;
  position: relative;
  background: radial-gradient(ellipse, #e3ba9b 3vmin, transparent 5vmin) 50vmin
      5vmin/10vmin 5vmin no-repeat,
    radial-gradient(circle, #3c6526 0.75vmin, black 0.75vmin, transparent 1vmin)
      52vmin 12vmin/4vmin 4vmin no-repeat,
    radial-gradient(circle, #3c6526 0.75vmin, black 0.75vmin, transparent 1vmin)
      56vmin 12vmin/4vmin 4vmin no-repeat,
    radial-gradient(circle, #f0caab 5vmin, #ecbc95 10vmin, transparent 10vmin)
      45vmin 5vmin/20vmin 20vmin no-repeat,
    radial-gradient(ellipse at 90% 100%, #633b1c 8vmin, transparent 8vmin)
      30vmin 85vmin/20vmin 8vmin no-repeat,
    radial-gradient(ellipse at 10% 100%, #633b1c 8vmin, transparent 8vmin)
      63vmin 85vmin/20vmin 8vmin no-repeat,
    linear-gradient(
        -85deg,
        transparent 1vmin,
        #4e555e 1vmin,
        #717a88 10vmin,
        transparent 10vmin
      )
      37vmin 60vmin/15vmin 30vmin no-repeat,
    linear-gradient(
        85deg,
        transparent 1vmin,
        #4e555e 1vmin,
        #717a88 10vmin,
        transparent 10vmin
      )
      61vmin 60vmin/15vmin 30vmin no-repeat;
}

div.beloved:before {
  width: 100vmin;
  height: 100vmin;
  z-index: 50;
  display: flex;
  position: absolute;
  transform: rotate(45deg);
  background: radial-gradient(
        circle,
        #f0caab 1vmin,
        #e8af80 3.5vmin,
        transparent 3.5vmin
      )
      29vmin 61vmin/8vmin 6vmin no-repeat,
    radial-gradient(circle, #f0caab 1vmin, #e8af80 3.5vmin, transparent 3.5vmin)
      71vmin 20vmin/6vmin 8vmin no-repeat,
    radial-gradient(circle, #b40001 20vmin, transparent 20vmin) 35vmin 5vmin/40vmin
      40vmin no-repeat,
    radial-gradient(circle, #b40001 20vmin, transparent 20vmin) 15vmin 25vmin/40vmin
      40vmin no-repeat,
    linear-gradient(90deg, #b40001 50vmin, transparent 50vmin) 35vmin 25vmin/40vmin
      40vmin no-repeat;
}

div.beloved:after {
  width: 100vmin;
  height: 100vmin;
  top: 30vmin;
  left: 28vmin;
  z-index: 50;
  display: flex;
  position: absolute;
  white-space: pre;
  content: "Thank you \a Love";

  text-align: center;
  line-height: 1.1;
  color: #ffffff;
  opacity: 0.38;
  font-family: "Architects Daughter", cursive;
  font-size: 12vmin;
}

div.beloved:before {
  animation: floatturn 10s ease-out infinite;
}

@keyframes floatturn {
  50% {
    transform: rotateZ(45deg) translateY(-3vmin);
  }
}
div.beloved:after {
  animation: float 10s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translateX(3vmin) translateY(-3vmin);
  }
}
